<ion-header>
  <ion-navbar>
    <ion-title>
      Titulo App
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToButtonsPage()">
        <ion-icon name="md-arrow-round-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Proyecto 1 - Usuarios</h2>
  <p>Número de usuarios a cargar:</p>

  <ion-input type="number" min="10" max="21" [(ngModel)]="num" placeholder="Introduce un número entre 10 y 21"></ion-input>
  <button ion-button full (click)="cargarUsuarios()">Traer Usuarios</button>

  <ion-list>
    <ion-item *ngFor="let usuario of usuarios" (click)="presentMyToast((usuario.name.first))">
      <ion-avatar item-start>
        <img [src]="usuario.picture.medium">
      </ion-avatar>
      <h2>{{ usuario.name.first }}</h2>
      <p>{{ usuario.email }}</p>
    </ion-item>
  </ion-list>
  

</ion-content>
