<!--
  Generated template for the BotonesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Botones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button color="light" icon-start *ngIf="btn_saludo" (click)="presentToast(('Saludo!'))">
      <ion-icon name ="md-hand"></ion-icon> Saludo
    </button>

    <button ion-button icon-start *ngIf="btn_despedida" (click)="presentToast(('Despedida!'))">
      <ion-icon name="md-exit"></ion-icon> Despedida
    </button>

    <button ion-button color="secondary" icon-start *ngIf="btn_calcular" (click)="presentToast(('Calcular!'))">
      <ion-icon name="md-calculator"></ion-icon>Calcular
    </button>

    <button ion-button color="danger" icon-start *ngIf="btn_consultar" (click)="presentToast(('Consultar!'))"> 
      <ion-icon name="md-search"></ion-icon>Consultar
    </button>

    <button ion-button color="dark" icon-start *ngIf="btn_comprar" (click)="presentToast(('Comprar!'))"> 
      <ion-icon name="md-cart"></ion-icon>Comprar
    </button> 

    <button ion-button color="light" icon-start (click)="ocultarCard()" hidden><ion-icon name ="md-hand"></ion-icon> Hand</button>

    <ion-item>
      <ion-label>Botón Saludo</ion-label>
      <ion-checkbox color="dark" checked="true" [(ngModel)]="btn_saludo"></ion-checkbox>
    </ion-item>
  
    <ion-item>
      <ion-label>Botón Despedida</ion-label>
      <ion-checkbox color="dark" checked="true" [(ngModel)]="btn_despedida"></ion-checkbox>
    </ion-item>
    
    <ion-item>
      <ion-label>Botón Calcular</ion-label>
      <ion-checkbox color="dark" checked="true" [(ngModel)]="btn_calcular" ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Botón Consultar</ion-label>
      <ion-checkbox color="dark" checked="true" [(ngModel)]="btn_consultar"  ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Botón Comprar</ion-label>
      <ion-checkbox color="dark" checked="true" [(ngModel)]="btn_comprar" ></ion-checkbox>
    </ion-item>

    <!-- Inicio - Ocultar textos en Card-->
    <!--<button ion-button color="light" icon-start (click)="ocultarCard()"><ion-icon name ="md-hand"></ion-icon> Saludo</button>
    <ion-card *ngIf="ocultarcard">
        <ion-card-header>
          Saludo!         
        </ion-card-header>
        <ion-card-content>
            <ion-icon name="md-hand"></ion-icon>  
        </ion-card-content>
    </ion-card>-->
    <!-- Fin - Ocultar textos en Card-->

    

</ion-content>
